In [ ]:
İŞ PROBLEMİ
 Bir oyun şirketi müşterilerinin bazı özelliklerini kullanarak
seviye tabanlı (level based) yeni müşteri tanımları (persona)
oluşturmak ve bu yeni müşteri tanımlarına göre segmentler
oluşturup bu segmentlere göre yeni gelebilecek müşterilerin
şirkete ortalama ne kadar kazandırabileceğini tahmin etmek
istemektedir. 

Örneğin:
Türkiye’den IOS kullanıcısı olan 25 yaşındaki bir erkek
kullanıcının ortalama ne kadar kazandırabileceği belirlenmek
isteniyor.

In [ ]:
  Veri Seti Hikayesi 
  Persona.csv veri seti uluslararası bir oyun şirketinin sattığı ürünlerin fiyatlarını ve bu
ürünleri satın alan kullanıcıların bazı demografik bilgilerini barındırmaktadır. Veri
seti her satış işleminde oluşan kayıtlardan meydana gelmektedir. Bunun anlamı
tablo tekilleştirilmemiştir. Diğer bir ifade ile belirli demografik özelliklere sahip bir
kullanıcı birden fazla alışveriş yapmış olabilir.

In [ ]:
PROJE GÖREVLERİ

Soru 1: persona.csv dosyasını okutunuz ve veri seti ile ilgili genel bilgileri gösteriniz. Soru 2: Kaç unique SOURCE vardır? Frekansları nedir?*
 Soru 3: Kaç unique PRICE vardır*§ Soru 4: Hangi PRICE'dan kaçar tane satış gerçekleşmi*?
§ Soru 5: Hangi ülkeden kaçar tane satış om*ş
§ Soru 6: Ülkelere göre satışlardan toplam ne kadar kazamıl*ı?
§ Soru 7: SOURCE türlerine göre satış sayılaeı n*dr?
§ Soru 8: Ülkelere göre PRICE ortalam arıı*neidir?

In [3]:
#1
import pandas as pd 

df =pd.read_csv("persona.csv")
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PRICE    5000 non-null   int64
 1   SOURCE   5000 non-null   object
 2   SEX      5000 non-null   object
 3   COUNTRY  5000 non-null   object
 4   AGE      5000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 234.4+ KB

In [4]:
#2 
df["SOURCE"].nunique()

df["SOURCE"].value_counts()

SOURCE
android    2974
ios        2026
Name: count, dtype: int64

In [5]:
#3 
df["PRICE"].nunique()

6

In [6]:
#4 
df["PRICE"].value_counts()

PRICE
29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: count, dtype: int64

In [7]:
#5 
df["COUNTRY"].value_counts()

COUNTRY
usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: count, dtype: int64

In [8]:
#6 

#df.groupby("COUNTRY")["PRICE"].sum()
df.groupby("COUNTRY").agg({"PRICE":"sum"})

         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

In [9]:
# 7 
#satış sayısı, toplam vs. dediğim zaman value_counts() kullanılır. 
#Satış bazında tekil çünkü. 
#Eğer sadece satış bazında olmasaydı filtrlemeler, groupby vs. kullanmamaız gerekecekti.
df["SOURCE"].value_counts()

SOURCE
android    2974
ios        2026
Name: count, dtype: int64

In [10]:
# 8 
df.groupby("COUNTRY").agg({"PRICE":"mean"}).sort_values(by="PRICE",ascending=False)

             PRICE
COUNTRY
tur      34.787140
bra      34.327540
deu      34.032967
usa      34.007264
can      33.608696
fra      33.587459

In [13]:
#Görev 2: COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar nedir?
df.groupby(["COUNTRY","SOURCE","AGE"]).agg({"PRICE":"mean"}).head(5)

                         PRICE
COUNTRY SOURCE  AGE
bra     android 15   39.000000
                16   32.456790
                17   36.678571
                18   32.625000
                19   35.213592

In [30]:
#Görev3:Çıktıyı PRICE’a göre sıralayınız
# Önceki sorudaki çıktıyı daha iyi görebilmek için sort_values metodunu azalan olacak şekilde PRICE’a göre uygulayınız.
# Çıktıyı agg_df olarak kaydediniz. 
agg_df = df.groupby(["COUNTRY","SOURCE","AGE","SEX"]).agg({"PRICE":"mean"}).sort_values("PRICE",ascending=False).head()
agg_df.head()

                            PRICE
COUNTRY SOURCE  AGE SEX
fra     android 24  female   59.0
usa     android 36  male     59.0
bra     android 46  male     59.0
usa     ios     32  male     54.0
deu     android 36  female   49.0

In [33]:
# Görev 4 : Index'te yer alan isimleri değişken ismine çeviriniz 
#Üçüncü sorunun çıktısında yer alan prıce dışındaki tüm değişkenler index isimleridir. 
#Bu isimleri değişken isimlerine çeviriniz 

agg_df.shape
agg_df.reset_index(inplace=True)
agg_df.head()

   index COUNTRY   SOURCE  AGE     SEX  PRICE
0      0     fra  android   24  female   59.0
1      1     usa  android   36    male   59.0
2      2     bra  android   46    male   59.0
3      3     usa      ios   32    male   54.0
4      4     deu  android   36  female   49.0