In [ ]:
İŞ PROBLEMİ
 Bir oyun şirketi müşterilerinin bazı özelliklerini kullanarak
seviye tabanlı (level based) yeni müşteri tanımları (persona)
oluşturmak ve bu yeni müşteri tanımlarına göre segmentler
oluşturup bu segmentlere göre yeni gelebilecek müşterilerin
şirkete ortalama ne kadar kazandırabileceğini tahmin etmek
istemektedir. 

Örneğin:
Türkiye’den IOS kullanıcısı olan 25 yaşındaki bir erkek
kullanıcının ortalama ne kadar kazandırabileceği belirlenmek
isteniyor.

In [ ]:
  Veri Seti Hikayesi 
  Persona.csv veri seti uluslararası bir oyun şirketinin sattığı ürünlerin fiyatlarını ve bu
ürünleri satın alan kullanıcıların bazı demografik bilgilerini barındırmaktadır. Veri
seti her satış işleminde oluşan kayıtlardan meydana gelmektedir. Bunun anlamı
tablo tekilleştirilmemiştir. Diğer bir ifade ile belirli demografik özelliklere sahip bir
kullanıcı birden fazla alışveriş yapmış olabilir.

In [ ]:
PROJE GÖREVLERİ

Soru 1: persona.csv dosyasını okutunuz ve veri seti ile ilgili genel bilgileri gösteriniz. Soru 2: Kaç unique SOURCE vardır? Frekansları nedir?*
 Soru 3: Kaç unique PRICE vardır* Soru 4: Hangi PRICE'dan kaçar tane satış gerçekleşmi*?
 Soru 5: Hangi ülkeden kaçar tane satış om*ş§ Soru 6: Ülkelere göre satışlardan toplam ne kadar kazamıl*ı?
§ Soru 7: SOURCE türlerine göre satış sayılaeı n*dr
§ Soru 8: Ülkelere göre PRICE ortalam arıı*neidir?

In [8]:
#1
import pandas as pd 

df =pd.read_csv("persona.csv")
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PRICE    5000 non-null   int64
 1   SOURCE   5000 non-null   object
 2   SEX      5000 non-null   object
 3   COUNTRY  5000 non-null   object
 4   AGE      5000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 234.4+ KB

In [9]:
#2 
df["SOURCE"].nunique()

df["SOURCE"].value_counts()

SOURCE
android    2974
ios        2026
Name: count, dtype: int64

In [10]:
#3 
df["PRICE"].nunique()

6

In [11]:
#4 
df["PRICE"].value_counts()

PRICE
29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: count, dtype: int64

In [12]:
#5 
df["COUNTRY"].value_counts()

COUNTRY
usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: count, dtype: int64

In [13]:
#6 

#df.groupby("COUNTRY")["PRICE"].sum()
df.groupby("COUNTRY").agg({"PRICE":"sum"})

         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

In [14]:
# 7 
#satış sayısı, toplam vs. dediğim zaman value_counts() kullanılır. 
#Satış bazında tekil çünkü. 
#Eğer sadece satış bazında olmasaydı filtrlemeler, groupby vs. kullanmamaız gerekecekti.
df["SOURCE"].value_counts()

SOURCE
android    2974
ios        2026
Name: count, dtype: int64

In [15]:
# 8 
df.groupby("COUNTRY").agg({"PRICE":"mean"}).sort_values(by="PRICE",ascending=False)

             PRICE
COUNTRY
tur      34.787140
bra      34.327540
deu      34.032967
usa      34.007264
can      33.608696
fra      33.587459

In [16]:
#Görev 2: COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar nedir?
df.groupby(["COUNTRY","SOURCE","AGE"]).agg({"PRICE":"mean"}).head(5)

                         PRICE
COUNTRY SOURCE  AGE
bra     android 15   39.000000
                16   32.456790
                17   36.678571
                18   32.625000
                19   35.213592

In [53]:
#Görev3:Çıktıyı PRICE’a göre sıralayınız
# Önceki sorudaki çıktıyı daha iyi görebilmek için sort_values metodunu azalan olacak şekilde PRICE’a göre uygulayınız.
# Çıktıyı agg_df olarak kaydediniz. 
agg_df = df.groupby(["COUNTRY","SOURCE","AGE","SEX"]).agg({"PRICE":"mean"}).sort_values("PRICE",ascending=False).head()
agg_df.head()

                            PRICE
COUNTRY SOURCE  AGE SEX
fra     android 24  female   59.0
usa     android 36  male     59.0
bra     android 46  male     59.0
usa     ios     32  male     54.0
deu     android 36  female   49.0

In [54]:
agg_df.head()

                            PRICE
COUNTRY SOURCE  AGE SEX
fra     android 24  female   59.0
usa     android 36  male     59.0
bra     android 46  male     59.0
usa     ios     32  male     54.0
deu     android 36  female   49.0

In [55]:
# Görev 4 : Index'te yer alan isimleri değişken ismine çeviriniz 
#Üçüncü sorunun çıktısında yer alan prıce dışındaki tüm değişkenler index isimleridir. 
#Bu isimleri değişken isimlerine çeviriniz 

agg_df.shape
agg_df.reset_index(inplace=True)
agg_df.head()

  COUNTRY   SOURCE  AGE     SEX  PRICE
0     fra  android   24  female   59.0
1     usa  android   36    male   59.0
2     bra  android   46    male   59.0
3     usa      ios   32    male   54.0
4     deu  android   36  female   49.0

In [119]:
#Görev 5: Age değişkenini kategorik değişkene çeviriniz ve agg_df’e ekleyiniz.

# Age sayısal değişkenini kategorik değişkene çeviriniz.
# Aralıkları ikna edici şekilde oluşturunuz.
# Örneğin: ‘0_18', ‘19_23', '24_30', '31_40', '41_70

# AGE değişkeninin nerelerden bölüneceğini belirtelim
mybins = [0, 18, 23, 38, 40, agg_df["AGE"].max()]

# Bölünen noktalara karşılık isimlendirmelerin ne olacağını ifade edelim:
mylabels = ['0_18', '19_23', '24_30', '31_40', '41_' + str(agg_df["AGE"].max())]

# Yaşları kategorilere ayıralım:
agg_df["AGE_CAT"] = pd.cut(agg_df["AGE"], bins=mybins, labels=mylabels)

# Sonuçları kontrol edelim
agg_df.head()

,COUNTRY,SOURCE,AGE,SEX,PRICE,AGE_CAT,customers_level_based
0,fra,android,24,female,59.0,24_30,FRA_ANDROID_FEMALE_24_30_FRA_ANDROID_FEMALE_24...
1,usa,android,36,male,59.0,24_30,USA_ANDROID_MALE_24_30_USA_ANDROID_MALE_24_30_...
2,bra,android,46,male,59.0,41_46,BRA_ANDROID_MALE_41_46_BRA_ANDROID_MALE_41_46_...
3,usa,ios,32,male,54.0,24_30,USA_IOS_MALE_24_30_USA_IOS_MALE_24_30_USA_IOS_...
4,deu,android,36,female,49.0,24_30,DEU_ANDROID_FEMALE_24_30_DEU_ANDROID_FEMALE_24...

In [120]:
#Görev 6: Yeni seviye tabanlı müşterileri (persona) tanımlayınız.
#Yeni seviye tabanlı müşterileri (persona) tanımlayınız ve veri setine değişken olarak ekleyiniz.
#Yeni eklenecek değişkenin adı: customers_level_based
#Önceki soruda elde edeceğiniz çıktıdaki gözlemleri bir araya getirerek customers_level_based değişkenini oluşturmanız gerekmektedir.

#Dikkat! List comprehension ile customers_level_based değerleri oluşturulduktan sonra bu değerlerin tekilleştirilmesi gerekmektedir.
#Örneğin birden fazla şu ifadeden olabilir: USA_ANDROID_MALE_0_18. Bunları groupby'a alıp price ortalamalarını almak gerekmektedir.  

#değişken isimleri : 
agg_df.columns

#gözlem değerlerine nasıl erişebiliriz : 
for row in agg_df.columns : 
    print(row)

#counrty source sex ve age_cat değişkenlerinin değerlerini yan yana ve alt tireyle birleştirmek istiyoruz. 
#bunu list comprehension ile yapabiliriz 
#yukarıdaki döngüdeli gözlem değerlerinin bize lazım olanalrını seçecek şekilde işlemi gerçekleştirelim 

# 4 adet yöntem var hangisini kullanmak istersek onu seçelim  

#1. yol 
## [row[0].upper + "_" + row[1].upper + "_" + row[2].upper + "_" + row[5].upper + "_" for row in agg_df.values]

#2. yol 
##  [row["COUNRTY"].upper + "_" + row["SOURCE"].upper + "_" + row["SEX"].upper + "_" + row["AGE_CAT"].upper + "_" for index,row in agg_df.itterrows] 

#3.yol
#['_'.join(item).upper() for item in agg_df.drop(["AGE","PRICE"],axis=1).values]

#4.yol 
#agg_df[["COUNTRY","SOURCE","SEX","AGE_CAT"]].apply(lambda x: '_'.join(x).upper(),axis=1)

#veri setine ekleyelim : 
agg_df["customers_level_based"] = ['_'.join(item).upper() for item in agg_df.drop(["AGE","PRICE"],axis=1).values]
agg_df.head()

#gereksiz değişkenleri çıkartalım: 
agg_df1 = agg_df[["customers_level_based","PRICE"]]
agg_df1.head()

#amacımıza yaklaştık ,burada ufak bir problem var birçok aynı persona olacak 
#örneğin USA_Androıd_Male_0_18 segmentinden birçok sayıda olabilir 
#kontrol edelim : 
agg_df1["customers_level_based"].value_counts()

#bu sebeple segmentlere göre groupby yaptıktan sonra price segmentlerini almalı ve segmentleri tekilleştirmeliyiz 
agg_df1= agg_df1.groupby("customers_level_based").agg({"PRICE":"mean"})
agg_df1.head()

#customers_level_based indexte yer almaktadır.bunu değişkene çevirelim
agg_df1.reset_index(inplace=True)

agg_df1["customers_level_based"].value_counts()

agg_df1.head()

COUNTRY
SOURCE
AGE
SEX
PRICE
AGE_CAT
customers_level_based

                               customers_level_based  PRICE
0  BRA_ANDROID_MALE_41_46_BRA_ANDROID_MALE_41_46_...   59.0
1  DEU_ANDROID_FEMALE_24_30_DEU_ANDROID_FEMALE_24...   49.0
2  FRA_ANDROID_FEMALE_24_30_FRA_ANDROID_FEMALE_24...   59.0
3  USA_ANDROID_MALE_24_30_USA_ANDROID_MALE_24_30_...   59.0
4  USA_IOS_MALE_24_30_USA_IOS_MALE_24_30_USA_IOS_...   54.0

In [125]:
#Görev 7: Yeni müşterileri (personaları) segmentlere ayırınız. 
#yeni müşterileri (Örnek: USA_ANDROID_MALE_0_18) PRICE’a göre 4 segmente ayırınız.
#Segmentleri SEGMENT isimlendirmesi ile değişken olarak agg_df’e ekleyiniz.
#Segmentleri betimleyiniz (Segmentlere göre group by yapıp price mean, max, sum’larını alınız).

agg_df1["SEGMENT"] = pd.qcut(agg_df1["PRICE"], 4, labels=["D", "C", "B", "A"])
agg_df1.head()

agg_df1.groupby("SEGMENT").agg({"PRICE":["mean","min","max","sum","count"]})

ValueError: Bin edges must be unique: array([49., 54., 59., 59., 59.]).
You can drop duplicate edges by setting the 'duplicates' kwarg